<ion-header>

  <ion-navbar>
    <ion-title>Movie Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<h1>{{movie.title}}</h1>
<p>{{movie.actor}} - {{movie.year}}</p>
</ion-content>
