<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Movie</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let movie of movies">
      <ion-thumbnail item-start>
        <img src="{{movie.img}}">
      </ion-thumbnail>
      <h2>{{movie.title}}</h2>
      <p>{{movie.actor}} • {{movie.year}}</p>
      <button ion-button clear item-end (click)="view(movie)">View</button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-fab right bottom>
  <button ion-fab color="danger" (click)="add()"><ion-icon name="add"></ion-icon></button>
</ion-fab>