<!--
  Generated template for the MovieAddPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="dismiss(false)">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Add Movie</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label fixed>Title</ion-label>
      <ion-input type="text" [(ngModel)]="movieDetails.title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>Year</ion-label>
      <ion-input type="text" [(ngModel)]="movieDetails.year"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>actor</ion-label>
      <ion-input type="text" [(ngModel)]="movieDetails.actor"></ion-input>
    </ion-item>

  </ion-list>

  <button ion-button outline block (click)="add()">Add</button>
</ion-content>